[Desktop Entry]
Encoding=UTF-8
Name=Link to How to calculate 1st and 3rd quartiles? - Stack Overflowhttps://stackoverflow.com/.../how-to-calculate-1st-and-3rd-qu...
Type=Link
URL=https://stackoverflow.com/questions/45926230/how-to-calculate-1st-and-3rd-quartiles
Icon=text-html
